/* GLOBAL */

/* Charset */
@charset "UTF-8";

/* Html & Body */
html,
body {
  width: 100%;
  height: 100%;
}

/* Body */
body {
  position: relative;
  font-family: $body-font;
  overflow-x: hidden;
  margin: 0;
}

/* Sections */
section {
  @include display-flex ();
  @include flex-direction (column);
  @include align-items (center);
  @include justify-content (center);
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}
}


/* Headlines */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  @include font-mix ($black, $body-font, 1.5rem, 1.1, 800, none);
  @media (min-device-width:576px){
    font-size: 1.5rem;
  }
  @media (min-device-width:768px){
    font-size: 1.75rem;
  }
  @media (min-device-width:1200px){
    font-size: 2.5rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 4rem;
  }
  @media (min-device-width:2500px){
  }
}

h2 {
  @include font-mix ($black, $body-font, 1.35rem, 1.25, 800, uppercase);
  @media (min-width: 576px) {
    font-size: 1.35rem;
  }
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media (min-width: 992px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 2.75rem;
  }
  @media (min-device-width:2500px){
  }
}

h3 {
  @include font-mix ($black, $body-font, 1rem, 1.2, 600, none);
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 1.5rem;
  }
  @media (min-device-width:2500px){
  }
}

h4 {
  @include font-mix ($white, $body-font, 1rem, 1.2, 500, uppercase);
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
  }
  @media (min-device-width:2500px){
  }
}



/* Paragraphs */
p {
  @include font-mix ($black, $body-font, 0.9rem, 1.3, 300, none);
  margin-bottom: 0;
  @media (min-width: 576px) {
    font-size: 0.9rem;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    font-size: 1.5rem;
  }
  @media (min-device-width:2500px){
  }
}

p + p {
  margin-top: 0.9rem;
  @media (min-width: 576px) {
    margin-top: 0.9rem;
  }
  @media (min-width: 768px) {
    margin-top: 1rem;
  }
  @media (min-width: 992px) {
    margin-top: 1rem;
  }
  @media (min-width: 1200px) {
    margin-top: 1rem;
  }
  @media (min-device-width:1336px){
  }
  @media (min-device-width:1440px){
  }
  @media (min-device-width:1920px){
    margin-top: 1rem;
  }
  @media (min-device-width:2500px){
  }
}



/* Lists */
ul, ol {
  margin: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}




/* Links */
a {
  outline: 0;
  @include transition (all, 0.3s, linear);
  &:hover {
    text-decoration: none;
    color: $black;
  }
  &:focus, &:active {
    text-decoration: none;
    outline: 0;
  }
}


/* Buttons */
.btn,
button {
  letter-spacing: 0px;
  line-height: 1;
  @include transition (all, 0.35s, linear);
}

.btn-link {
  &:hover, &:focus, &:active {
    text-decoration:none;
  }
}

.btn,
button,
select,
input,
textarea {
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

/* Input */
input {
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

}

/* Modal */
.modal-header {
  padding: 0.625rem 2.125rem;
  border-bottom: none;
}
.modal-body {
  padding: 0 2.125rem 2.125rem;
}
.modal-footer {
  @include display-flex ();
  @include flex-direction (row);
  @include align-items (center);
  @include justify-content (center);
  border-top: none;
  padding: 0.625rem 2.125rem;
}
