/* VARIABLES */


/* Font family */

$body-font: 'Merriweather Sans', sans-serif;




/* Colors */
$primary-color: #6c854b;
$secondary-color: #9f846b;

/* White --> Gray --> Black */

$white: #fff;
$light-gray: #efefef;
$gray: #999999;
$medium-gray: #666666;
$dark-gray: #333333;
$black: #222222;
