@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* Authentication */

:host {
  position: absolute;
  top: 4.375rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 4.375rem);
}

#ft-authentication__wrap {
  @include display-flex ();
  @include flex-direction (column);
  @include align-items (center);
  @include justify-content (center);
  height: 100%;
  background-image: url("../../assets/images/authentication-bg.jpg");
  @include bg-image (no-repeat, center, center, cover);
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}
}
