@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* Authentication - login */

.ft-authentication {
  background-color: $white;
  @include box-shadow (2px, 1px, 5px, 3px, rgba(51,51,51,0.15));
  padding: 2.5rem 1.25rem;
  width: 20rem;

  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    width: 25rem;
    padding: 3.75rem 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){
    padding: 5rem 3.75rem;
    width: 30rem;
  }
  @media (min-device-width:2500px){}

  .ft-authentication__title {
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .ft-authentication__msg {
    text-align: center;
    @include font-mix ($black, $body-font, 0.85rem, 1, 500, none);
    a {
      cursor: pointer;
      @include font-mix ($secondary-color, $body-font, 0.85rem, 1, 600, none);
    }
  }

  .ft-authentication__login-form {
    margin-top: 2.5rem;

    /* Input */
    input {
      @include input (calc(1.5em + 0.75rem + 2px), left, 0.375rem, 0.75rem, 0px, 0px, $black, $white, $black, $white);
      @include font-mix ($black, $body-font, 1rem, 1, 500, none);
      border-bottom: 1px solid $black;
      &:focus {
        border-bottom: 1px solid $black;
      }
    }

    /* Placeholder */
    @include placeholder-input ($black, $body-font, 1rem, 1, 500, left, none, normal);

    /* Button */
    .ft-btn {
      @include font-mix ($white, $body-font, 1rem, 1, 500, none);
      background-color: $secondary-color;
      @include border-radius(0);
      &:hover, &:focus, &:active {
        @include font-mix ($white, $body-font, 1rem, 1, 500, none);
      }
    }


  }

  .ft-authentication__link {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    @include font-mix ($black, $body-font, 0.85rem, 1, 600, none);
    text-decoration: underline;
  }

}
