<div id="ft-social-share">
  <ul class="ft-social-share__list list-unstyled">
    <li class="ft-social-share__item" *ngFor="let socShare of socShares">
      <a href="{{socShare.linkUrl}}" target="_blank">
        <img class="ft-social-share__image img-fluid" src="{{socShare.imageUrl}}" alt="{{socShare.name}}">
      </a>
    </li>
  </ul>
</div>
