@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* SHOP */
#ft-shop {
  background-color: $white;
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}

  /* Homepage product gallery */
  .ft-shop-gallery {

    .ft-shop-gallery__item {

      &:nth-child(n+2) {
        margin-top: 1.25rem;
        @media (min-width: 576px) {
        }
        @media (min-width: 768px) {
          margin-top: 0;
        }
      }

      .ft-shop-gallery__item__content {
        position: relative;
        @include display-flex ();
        @include flex-direction (column);
        @include align-items (center);
        @include justify-content (center);

        /* Image */
        .ft-shop-gallery__image-wrap {
          position: relative;
          margin-bottom: 0.625rem;

          .ft-shop-gallery__image {}

          .ft-shop-gallery__overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include display-flex ();
            @include flex-direction (column);
            @include align-items (center);
            @include justify-content (center);
            height: 100%;
            width: 100%;
            background: rgba($primary-color,.9);
            transition: opacity .25s ease-in-out;
            z-index: 9;

            .ft-btn {
              @include font-mix ($white, $body-font, 1rem, 1, 500, none);
              @include border-radius(0);
              &:hover, &:focus, &:active {
                @include font-mix ($white, $body-font, 1rem, 1, 500, none);
              }
            }

          }

          &:hover {
            .ft-shop-gallery__overlay {
              opacity: 1;
            }
          }


        }

        .ft-shop-gallery__name-and-price {
          padding: 0.3125rem;
          cursor: pointer;
          border: 1px solid transparent;
        }

        /* Name */
        .ft-shop-gallery__name {
          text-align: center;
          @include font-mix ($black, $body-font, 1rem, 1, 600, none);
          margin-bottom: 0.3125rem;
        }

        /* Price */
        .ft-shop-gallery__price {
          text-align: center;
          @include font-mix ($black, $body-font, 0.85rem, 1, 500, none);
        }

        /* Tag */
        .ft-shop-gallery__item__tag {
          position: absolute;
          top: 0;
          left: 0;
          @include display-flex ();
          @include flex-direction (row);
          @include align-items (center);
          @include justify-content (center);
          width: auto;
          height: 2.5rem;
          padding: 0.3125rem 1.875rem;
          @include font-mix ($white, $body-font, 1rem, 1, 500, none);
        }
      }

    }

    &.ft-shop-gallery--featured {

      .ft-shop-gallery__item {

        &:nth-child(n+4) {
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
        }

        .ft-shop-gallery__item__content {

          .ft-shop-gallery__item__tag {
            background-color: $black;
          }

        }

      }



    }

    &.ft-shop-gallery--categorized {

      .ft-shop-gallery__item {

        &:nth-child(n+5) {
          @media (min-width: 768px) {
            margin-top: 1.25rem;
          }
        }

        .ft-shop-gallery__item__content {

          .ft-shop-gallery__item__tag {
            background-color: $secondary-color;
          }

        }

      }
    }

  }


  /* Load more btn */
  .ft-shop-gallery + .ft-shop-button {
    @include display-flex ();
    @include flex-direction (row);
    @include align-items (center);
    @include justify-content (center);
    margin-top: 2.5rem;

    .ft-btn {
      @include font-mix ($black, $body-font, 1rem, 1, 500, none);
      padding: 0.85rem 6.25rem;
      @include border-radius(0);
      &:hover, &:focus, &:active {
        @include font-mix ($white, $body-font, 1rem, 1, 500, none);
      }
    }

  }


  /* Shop page product tabs */
  .ft-shop-tabs__wrap {

    .ft-shop-tabs__title {
      width: 10rem;
      padding: 0.5rem 1rem;
      @include font-mix ($black, $body-font, 1rem, 1, 600, none);
      border-bottom: 0.3125rem solid $black;
    }

    .ft-shop-tabs {
      @include display-flex ();
      @include flex-direction (row);
      @include align-items (flex-start);
      @include justify-content (flex-start);

      .ft-shop-tabs__nav {
        @include flex-direction (column);
        flex-wrap: unset;
        border-bottom: none;
        flex: 0 0 10rem;

        .nav-item {
          margin-bottom: 0;

          .nav-link {
            border: none;
            @include border-radius(0);
            @include font-mix ($black, $body-font, 1rem, 1, 500, none);
            border-bottom: 0.125rem dashed $black;
            &.active {
              @include font-mix ($primary-color, $body-font, 1rem, 1, 500, none);
              border-color: $primary-color;
            }
          }

        }

      }

      .ft-shop-tabs__content {
        flex: 1;
      }
    }
  }

  /* No products */
  .ft-no-products {
    @include display-flex ();
    @include flex-direction (column);
    @include align-items (center);
    @include justify-content (center);

    .ft-no-products__image {
      margin-bottom: 1.25rem;
    }

    .ft-no-products__text {
      @include font-mix ($black, $body-font, 1rem, 1, 500, none);
    }

  }

}

/* Modal */
.ft-quick-look__image-wrap {
  .ft-quick-look__image {}
}

.ft-quick-look__image-wrap + .ft-quick-look__form-wrap {
  margin-top: 1.25rem;
}

.ft-quick-look__form-wrap {

  .ft-quick-look__product-name {
    @include font-mix ($black, $body-font, 1.25rem, 1, 600, none);
    margin-bottom: 0.3125rem;
  }

  .ft-quick-look__id {
    @include font-mix ($gray, $body-font, 0.75rem, 1, 500, uppercase);
    margin-bottom: 1.25rem;
  }

  .ft-quick-look__price {
    margin-bottom: 1.25rem;
  }

  .ft-quick-look__size {
    label {
      @include font-mix ($black, $body-font, 0.75rem, 1, 500, none);
    }
    select {
      border-color: $gray;
      @include border-radius(0);
      @include font-mix ($black, $body-font, 0.85rem, 1, 500, none);
        &:focus {
          border-color: $gray;
        }
    }
  }

  .ft-quick-look__quantity {
    width: 5rem;

    label {
      @include font-mix ($black, $body-font, 0.75rem, 1, 500, none);
    }

    /* Input */
    input {
      @include input (calc(1.5em + 0.75rem + 2px), left, 0.375rem, 0.75rem, 1px, 0px, $gray, $white, $gray, $white);
      @include font-mix ($black, $body-font, 1rem, 1, 500, none);
    }

    /* Placeholder */
    @include placeholder-input ($black, $body-font, 1rem, 1, 500, left, none, normal);
  }

}


.ft-quick-look__button {

  .ft-btn {
    @include font-mix ($white, $body-font, 0.85rem, 1, 500, uppercase);
    padding: 0.85rem 6.25rem;
    @include border-radius(0);
    &:hover, &:focus, &:active {
      @include font-mix ($white, $body-font, 0.85rem, 1, 500, uppercase);
    }
  }

}
