<div class="ft-authentication">

  <h1 class="ft-authentication__title">Sign Up</h1>

  <form class="ft-authentication__signup-form" (ngSubmit)="onSignup()">

    <div class="form-row">

      <div class="form-group col-12">
        <label class="sr-only" for="signupFirstName">First Name</label>
        <input type="text" class="form-control" id="signupFirstName" placeholder="First Name" ngModel name="signupFirstName">
      </div>

      <div class="form-group col-12">
        <label class="sr-only" for="signupLastName">Last Name</label>
        <input type="text" class="form-control" id="signupLastName" placeholder="Last Name" ngModel name="signupLastName">
      </div>

      <div class="form-group col-12">
        <label class="sr-only" for="signupEmail">Email</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="Email" ngModel name="signupEmail">
      </div>

      <div class="form-group col-12">
        <label class="sr-only" for="signupPassword">Password</label>
        <input type="password" class="form-control" id="signupPassword" placeholder="Password" ngModel name="signupPassword">
      </div>

      <button type="submit" class="ft-btn btn btn-lg btn-block">Sign Up</button>

    </div>

  </form>


  <div class="ft-authentication__msg">
    Already a member? <a (click)="toggleForm()">Log In</a>
  </div>

</div>
