<nav id="ft-navbar" class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="ft-navigation-nav navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>

      <ul class="ft-personal-info-nav navbar-nav">
        <li class="ft-login nav-item">
          <a class="nav-link" routerLink="/authentication" routerLinkActive="active">
            <img src="assets/images/login.png" alt="Log In">
            <span>Log In</span>
          </a>
        </li>
        <li class="ft-cart nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">
            <img src="assets/images/shopping-cart.jpg" alt="Cart">
            <span>Cart</span>
          </a>
        </li>
      </ul>

    </div>

  </div>

</nav>
