@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

#ft-navbar {
  background-color: $white !important;
  border-bottom: 0.3125rem solid $gray;
  height: 4.375rem;

  .navbar-brand {
    img {
      width: 5rem;
    }
  }

  .ft-personal-info-nav {
    li {
      @include display-flex ();
      @include flex-direction (row);
      @include align-items (center);
      @include justify-content (center);
    }
    .ft-login,
    .ft-cart {
      @include display-flex ();
      @include flex-direction (row);
      @include align-items (center);
      @include justify-content (center);
      a {
        img {
          width: 2rem;
          margin-right: 0.625rem;
        }
      }
    }
  }

}
