<header id="ft-home-header">

    <h1>Fortisi Home Design <br>Second name for Stylish</h1>

    <p>Beauty that comes from trust</p>

    <a routerLink="/shop" role="button" class="ft-btn btn btn btn-dark btn-lg">Shop Now</a>

</header>
