@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* Contact form */
.ft-contact__contact-form {

  /* Input */
  input {
    @include input (calc(1.5em + 0.75rem + 2px), left, 0.375rem, 0.75rem, 0px, 0px, $black, $white, $black, $white);
    @include font-mix ($black, $body-font, 1rem, 1, 500, none);
    border-bottom: 1px solid $black;
    &:focus {
      border-bottom: 1px solid $black;
    }
  }

  /* Textarea */
  textarea {
    @include textarea (left, 0.375rem, 0.75rem, 0px, 0px, $black, $white, $black, $white);
    @include font-mix ($black, $body-font, 1rem, 1, 500, none);
    border-bottom: 1px solid $black;
    &:focus {
      border-bottom: 1px solid $black;
    }
  }

  /* Placeholder */
  @include placeholder-input ($black, $body-font, 1rem, 1, 500, left, none, normal);

  /* Button */
  .ft-btn {
    @include font-mix ($black, $body-font, 1rem, 1, 500, uppercase);
    &:hover, &:focus, &:active {
      @include font-mix ($black, $body-font, 1rem, 1, 500, uppercase);
    }
  }

}
