@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* CONTACT */
#ft-contact {
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}

  .ft-contact__data {

    .ft-contact__data__title {
      @include font-mix ($black, $body-font, 1rem, 1, 500, none);
      margin-bottom: 2.5rem;
    }

    .ft-contact__data__list {
      li {
        label {
          @include font-mix($black, $body-font, 0.9rem, 1, 500, uppercase);
        }
        span, a {
          @include font-mix($black, $body-font, 0.85rem, 1, 500, none);
        }
        a {
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
        }
        label + span,
        label + a {
          margin-left: 0.3125rem;
        }
      }
      li + li {
        margin-top: 0.3125rem;
      }

      &:last-of-type {
        li {
          a {
            &:after {
              margin-left: 0.3125rem;
              display: inline-block;
              color: $black;
              content: "/";
            }
          }
        }
      }

    }
    .ft-contact__data__list  + .ft-contact__data__list {
      margin-top: 2.5rem;
    }

  }

  .ft-contact__forms {
    margin-top: 3.75rem;

    .ft-contact__contact-form__wrap + .ft-contact__newsletter-form__wrap {
      margin-top: 3.75rem;
    }

  }

}
