@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* Newsletter form */

.ft-contact__newsletter-form {

  .ft-contact__newsletter__title {
    @include font-mix ($black, $body-font, 1rem, 1, 500, none);
    margin-bottom: 1.25rem;
  }

  /* Input */
  input {
    @include input (calc(1.5em + 0.75rem + 2px), left, 0.375rem, 0.75rem, 1px, 0px, $black, $white, $black, $white);
    @include font-mix ($black, $body-font, 1rem, 1, 500, none);
  }

  /* Placeholder */
  @include placeholder-input ($black, $body-font, 1rem, 1, 500, left, none, normal);

  /* Button */
  .ft-btn {
    height: calc(1.5em + 0.75rem + 2px);
    @include font-mix ($white, $body-font, 1rem, 1, 500, none);
    @include border-radius(0);
    &:hover, &:focus, &:active {
      @include font-mix ($white, $body-font, 1rem, 1, 500, none);
    }
  }

}
