<form class="ft-contact__contact-form" (ngSubmit)="onSend()">

  <div class="form-row">

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" ngModel name="inputName">
    </div>

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" ngModel name="inputEmail">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputSubject">Subject</label>
      <input type="text" class="form-control" id="inputSubject" placeholder="Subject" ngModel name="inputSubject">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputTextarea">Message</label>
      <textarea class="form-control" id="inputTextarea" placeholder="Message" rows="4" ngModel name="inputTextarea"></textarea>
    </div>

    <button type="submit" class="ft-btn btn btn-link btn-lg btn-block">Send</button>

  </div>

</form>
