<form class="ft-contact__newsletter-form" [formGroup]="registerForm" (submit)="destroyFormValues()" novalidate>

  <h3 class="ft-contact__newsletter__title">Get our newsletters</h3>

  <div class="form-row">

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputNewsletterName">Name</label>
      <input type="email" class="form-control" id="inputNewsletterName" placeholder="Enter your email here" formControlName="emailAddress">
    </div>

    <div class="form-group col-md-6">
      <button type="submit" class="ft-btn btn btn btn-dark btn-lg">Subscribe Now</button>
    </div>
  </div>

</form>
