<div class="ft-authentication">

  <h1 class="ft-authentication__title">Log In</h1>

  <div class="ft-authentication__msg">
    New to this site? <a (click)="toggleForm()">Sign Up</a>
  </div>

  <form class="ft-authentication__login-form" (ngSubmit)="onLogin()">

    <div class="form-row">

      <div class="form-group col-12">
        <label class="sr-only" for="loginEmail">Email</label>
        <input type="email" class="form-control" id="loginEmail" placeholder="Email" ngModel name="loginEmail">
      </div>

      <div class="form-group col-12">
        <label class="sr-only" for="loginPassword">Password</label>
        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ngModel name="loginPassword">
      </div>

      <a class="ft-authentication__link" href="#">Forgot password</a>

      <button type="submit" class="ft-btn btn btn-lg btn-block">Log In</button>

    </div>

  </form>

</div>
