<app-navbar></app-navbar>

<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
  <router-outlet #o="outlet"></router-outlet>
</div>

<app-social-share></app-social-share>
