@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

#ft-home-header {
  @include display-flex ();
  @include flex-direction (column);
  @include align-items (center);
  @include justify-content (center);
  height: 35rem;
  background-image: url("../../assets/images/livingRoom2.jpg");
  @include bg-image (no-repeat, center, center, cover);
  padding: 1.25rem;
  @media (min-width: 576px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
  @media (min-device-width:1336px){}
  @media (min-device-width:1440px){}
  @media (min-device-width:1920px){}
  @media (min-device-width:2500px){}

  h1 {
    text-align: center;
    @include font-mix ($black, $body-font, 3rem, 1, 500, none);
    margin-bottom: 2.5rem;
  }

  p {
    text-align: center;
    @include font-mix ($white, $body-font, 1.5rem, 1, 500, none);
    margin-bottom: 1.25rem;
  }

  .ft-btn {
    @include font-mix ($white, $body-font, 1rem, 1, 500, none);
    padding: 0.85rem 2.5rem;
    @include border-radius(0);
    &:hover, &:focus, &:active {
      @include font-mix ($white, $body-font, 1rem, 1, 500, none);
    }
  }

}
