@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

/* SOCIAL SHARE */
#ft-social-share {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  @include box-shadow (2px, 1px, 5px, 3px, rgba(51,51,51,0.15));

  .ft-social-share__list {
    @include display-flex ();
    @include flex-direction (column);
    @include align-items (center);
    @include justify-content (center);
    background-color: $white;

    .ft-social-share__item {
      padding: 0.3125rem 0.625rem;
      .ft-social-share__image {}
    }

    .ft-social-share__item + .ft-social-share__item {
      margin-top: 0.625rem;
    }

  }

}
