<section id="ft-authentication__wrap">

    <app-login (toggleFormEvent)="onToggleForm()" *ngIf="activeForm"></app-login>
    <app-signup (toggleFormEvent)="onToggleForm()" *ngIf="!activeForm"></app-signup>

</section>
