@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

#ft-footer {
  @include display-flex ();
  @include flex-direction (row);
  @include align-items (center);
  @include justify-content (center);
  padding: 0.625rem 1.25rem;
  background-color: $light-gray;
  p {
    @include font-mix ($gray, $body-font, 0.85rem, 1, 500, none);
    a {
      color: $black;
    }
  }

  &.ft-footer--shop {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }

}
