@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

#ft-about-description {
  background-color: $white;

  .ft-about-description__text {
    h2 {
      text-align: center;
      @include font-mix($black, $body-font, 1.25rem, 1, 500, uppercase);
      margin-bottom: 1.25rem;
    }

    p {
      text-align: center;
      @include font-mix($black, $body-font, 1rem, 1.3, 500, none);
    }
  }

  .ft-about-description__text + .ft-about-description__image {
    margin-top: 2.5rem;
  }
}
