<section id="ft-about-description">
  <div class="container">

    <div class="ft-about-description__text row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <h2>Our story & philosophy</h2>
        <p>Nulla tristique ante eget urna porttitor lacinia. Nulla a arcu et quam viverra sollicitudin maximus ut odio. Donec ac facilisis sem, tempus cursus mi. Nam laoreet placerat tristique. Cras tempor risus bibendum posuere interdum. Proin congue at quam vitae imperdiet. Nulla facilisi. Ut mollis, ipsum sit amet consectetur vehicula, justo magna rutrum quam, sit amet ullamcorper massa purus eu arcu. Nullam aliquet, nunc non interdum viverra, libero nibh finibus turpis, lobortis consequat quam risus sit amet nisl. Ut rutrum ex vel purus efficitur rhoncus. Curabitur interdum a sem sed eleifend.</p>
        <p>Praesent et odio augue. Integer sit amet tempus libero, a aliquet elit. In eu tortor non sapien rhoncus tincidunt. Vivamus eu sodales purus. Integer varius ipsum sed mauris pharetra maximus. Quisque ut nibh ligula. Quisque in ipsum eu nunc pharetra dapibus sed vel dolor. Praesent a sapien congue, iaculis ante rhoncus, tempus elit. Nunc eget posuere quam, eu interdum sapien. Quisque dapibus et augue sed laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur elit dolor, maximus at mi vel, fringilla facilisis magna. Nunc eu nibh eu elit vehicula luctus. Mauris id lacinia purus, quis porttitor mauris. Donec fringilla mollis dui eget scelerisque. Suspendisse congue risus eget pretium pellentesque.</p>
      </div>
    </div>

    <div class="ft-about-description__image row justify-content-center">
      <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
        <img class="img-fluid" src="../../../../assets/images/craftsman.jpg" alt="Fortisi craftman">
      </div>
    </div>

  </div>
</section>
